body {
    font-family: "Arial";
    font-weight: 600;
    margin: 0px auto;
}

#back_button {
    background-color: rgba(117, 91, 70, 0.884);
    border-radius: 10px;
    color: white;
    font-family: Arial;
    display: inline-block;
    margin: 15px 0px 0px 20px;
    padding: 15px;
    text-align: center;
    width: auto;
    transition: 1s;
}

#back_button:hover {
    background-color: bisque;
    color: black;
}

legend>h2 {
    background-color: rgba(119, 58, 0, 0.884);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

fieldset {
    border-radius: 5px;
    width: 1024px;
    border: none;
    background-color: rgba(0, 0, 0, 0.733);
    margin: 0px auto;
    z-index: 1;
}

fieldset #center_tables {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
}

#radio_buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#quantity {
    width: 70px;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
}

#date_time {
    background-color: rgba(167, 140, 108, 0);
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    font-family: arial;
    color: white;
}

#payment-select {
    background-color: rgba(0, 255, 149, 0.452);
    border-radius: 15px;
    padding: 5px;
    color: white;
}

#payment-select optgroup>option {
    background-color: rgba(15, 207, 207, 0.603);
    color: black;
}

optgroup {
    background-color: rgb(255, 123, 0);
    color: black;
}

#tb1 {
    background-color: rgba(248, 152, 26, 0.822);
}

.form-table {
    border: none;
}

table td,
th,
tr {
    border: 1px solid rgba(153, 153, 153, 0.384);
    padding: 10px;
    width: auto;
    text-align: center;
    border-radius: 5px;
    color: white;
}

#submit {
    background: #fffff2;
    font-size: medium;
    border-radius: 15px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 45px;
    text-shadow: none;
    transition: 1s;
}

#submit:hover {
    background-color: #41d3bd;
    color: rgb(255, 255, 255);
}

#reset {
    background: #fcfcfc11;
    border-radius: 15px;
    border: none;
    font-size: medium;
    color: white;
    padding: 15px 45px;
    text-shadow: none;
    transition: 1s;
}

#reset:hover {
    background-color: red;
    color: white;
}

#text_input input {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(255, 228, 196, 0);
    padding: 15px;
}

.location {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our_location {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.747);
    color: black;
    font-size: larger;
    padding: 15px;
    width: 600px;
    text-align: center;
}

.container {
    background-image: url("../Tiramisu-Images/tiramisu_backround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#overlay {
    background-color: rgba(1, 2, 3, 0.274);
    z-index: 2;
}